<!DOCTYPE html>
<html>
<body>

<h2>HOT NEW DEALS!!!</h2>

<form action="/GetRestResponse">
  <label for="keyWord">Search:</label><br>
  <input type="text" id="keyWord" name="keyWord" value="bitch"><br>
  <label for="time">Minutes:</label><br>
  <input type="number" id="time" name="time" value="1"><br><br>
  <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be sent to ***insert whatever we decide here***.</p>

    <div id="myData"></div>
    <script>
        fetch('data.json')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            for (var i = 1; i < data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML = 'New Deal: ' + data[i].deal;
                mainContainer.appendChild(div);
            }
        }
    </script>


</body>
</html>
