<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='styles/css/menu.css') }}">
  <title>Deal Seaker</title>
</head>
<body>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="templates/credit.html">Credits</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header class="showcase">
    <div class="container showcase-inner">
      <h1>Hot New Deals!!</h1><br><br>

      <label for="keyWord">Search:</label>
      <input type="text" id="keyWord" name="keyWord" value=" "><br>
      <label for="time">Minutes:</label>
      <input type="number" id="time" name="time" value="1"><br><br>
      <button id = "Submit" onclick = "updateText()" type="button">Send</button>

      <br><br><br>
      <label id="returnText"> </label><br><br><br>

      <div id="myData"></div>
      <!-- <a href="#" class="btn">Read More</a> -->
    </div>
  </header>
  <script>
        function Display(){

            document.getElementById("returnText").innerText = String('Found deals on ' + document.getElementById("keyWord").value + ' on www.dealsea.com');
            fetch('/data')
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    appendData(data);
                })
                .catch(function (err) {
                    console.log('error: ' + err);
                });
        }
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            while(mainContainer.firstChild){
                mainContainer.removeChild(mainContainer.firstChild);
            }
            for (var i = 0; i < data[1].length; i++) {
                var div = document.createElement("div");

                div.innerHTML = (data[1][i].Deals);

                mainContainer.appendChild(div);
            }

    }

        function updateText(){

                fetch('GetRestResponse',
                    {method:'Post',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({Query: document.getElementById("keyWord").value, Time: document.getElementById("time").value })
                });
                setTimeout(() => {Display();},5000);
            }

    </script>
</body>
</html>
